body{
  background-color: #ccc;
}
.boton{
  padding: 15px 20px;
  margin: 2px;
  font-size: 15px;
  border: 1px solid transparent;
  border-radius: 20px;
}
.dentro{
  padding: 5px 20px;
}
.txtprecio, .txtproducto{
  height: 36px;
  padding: 0 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 34px;
  width: 160px;
  padding: 6px 12px;
  font-size: 14px;
  margin: 2px;
}
#wrapper{
  width: 780px;
  background-color: white;
  margin: 5px auto;
}
#divform{
  margin-left: auto;
  margin-right: auto;
}
tfoot > tr{
  border: 3px solid black;
}
table{
  width: 100%;
  border: 3px solid lightblue;
  border-collapse: collapse;
  text-align: center;
}
th,td{
  border: 2px solid lightblue;
  text-align: center;
  padding: 10px;
}
th, td{
  width: 120px;
  height: 20px;
}
caption{
  background-color: lightblue;
}
.producto{
  text-decoration: none;
  color: #888;
  font-weight: bold;
  font-size: 18px;
}
a{
  text-decoration: none;
  color: #888;
  font-weight: bold;
  font-size: 18px;
}
